@import 'reset';
@import 'mixins';
@import 'fonts';

//components stylesheets
@import 'header';

:root {
  // Site Colors
  --primary-color: #0E8784;
  --secondary-color: #333D4B;
  --accent-color: #FDD6BA;
  --grey-color: #83888F;
  --cream-color: #FEFCF7;

  //Font Family
  --heading-font: 'Fraunces', serif;;
  --paragraph-font: 'Barlow', sans-serif;
}

h1,
h2,
h3,
h4,
button {
  font-family: var(--heading-font);
  font-weight: 900;
}

h1 {
  font-size: rem(72);
  &.alt-h1 {
    font-size: rem(150);
    color: var(--grey-color);
  }
}

h2 {
  font-size: rem(40);
}

h3 {
  font-size: rem(32);
}

h4 {
  font-size: rem(24);
}

p {
  font-size: rem(16);
  color: var(--secondary-color)
}

a {
  color: var(--grey-color);
  font-family: var(--paragraph-font);
  font-weight: 700;
  font-size: rem(12);
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease-in;
  &:hover {
    color: var(--secondary-color);
  }
}

button {
  border: none;
  border-radius: rem(6);
  background-color: var(--primary-color);
  cursor: pointer;
  font-size: rem(18);
  color: var(--cream-color);
  padding: 0.85em 4.5em;
  transition: all 0.3s ease;
  &:hover {
    background-color: #66D2CF;
  }
  &:disabled,
  &[disabled] {
    background-color: #E2DEDB;
  }
}